.header {
  background-color: #4694DC;
  min-height: 500px;
  padding-top: 83px;
  padding-bottom: 83px;
  color: #fff;
}

.header_title {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 34px;
}

.header_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 437px;
  margin-bottom: 47px;
}

.header_button {
  width: 194px;
  height: 60px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 350px) {
  .header_title {
    font-size: 36px;
  }
  .header_button {
    font-size: 14px;
    width: 160px;
  }
}

